.Rproj.user
.Rhistory
.RData
.Ruserdata
*/.DS_Store
.DS_Store
*.sqlite
*.Rproj
*/300KRNA.tsv.gz
src/source_variants.xlsx
src/multiExonSkippingInfo.xlsx
src/Supplementary Table S1.xlsx
src/300KRNA_refseq.tsv.gz